@import '../../sass/helper';

.productDetails {
  padding: 20px 0;
}

.productCardTitle {
  text-align: center;
  margin-bottom: 32px;
}

.productCardThumb {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.productImage {
  display: block;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.productCardDescription {
  @include desktop {
    max-width: 500px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.productCardSizes {
  display: flex;
  gap: 24px;
}

.productCardPurchaseOptions {
  display: flex;
  gap: 32px;
}

.productCardQuantityOptions {
  display: flex;
  flex-direction: column;
}

.swiper-button-next {
  &:after {
    color: #000000;
  }
}
