@import '../../sass/helper';

.productDetails {
  padding: 20px 0;
}

.backLink {
  transition: all 300ms ease;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e3e3e3;
  }
}

.productCardTitle {
  @include tablet {
    margin-top: 0;
  }
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.productCardThumb {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.productImage {
  display: block;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.productCardDescription {
  @include desktop {
    max-width: 550px;
    font-size: 18px;
  }
  display: flex;
  flex-direction: column;
}

.productCardSizes {
  display: flex;
  align-items: center;
  gap: 24px;
}

.productCardPurchaseOptions {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: auto;
}

.productCardQuantityOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100px;
}

.oldPrice {
  text-decoration: line-through;
  color: rgb(163, 163, 163);
  font-size: 14px;
}

.price {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.brand {
  margin-bottom: 10px;
}

.productDescription {
  text-align: justify;
  margin-bottom: 20px;
  line-height: calc(26 / 18);
}

.quantityWrapper {
  margin-top: 20px;
}

.productQuantity {
  max-width: 80px;
  background-color: transparent;
  border: 1px solid #000;
  height: 100%;
}

.decrement,
.increment {
  padding: 15px;
  border: 1px solid #000;
}

.decrement {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.increment {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.productAdd {
  margin-top: auto;
  padding: 15px 25px;
  background-color: $--accent-color;
  color: #fff;
  border-radius: 10px;
  transition: all 300ms ease;

  &:hover {
    background-color: $--hover-color;
  }
}
