*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@import './_helper.scss';

.swiper {
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  max-width: 500px;
  height: 550px;
}

// .swiper-button-next,
// .swiper-button-prev {
//   height: 100%;
//   top: 0;
//   background-color: #363636;
// }

.swiper-button-next:after,
.swiper-button-prev:after {
  color: $--accent-color;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: $--accent-color;
}
