*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@import './_helper.scss';

.swiper {
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  max-width: 500px;
  height: 550px;
}
