@import '../../sass/helper';

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.main__productPage {
}

.product__listInner {
}

.quantityPosition {
}

.pagination {
  margin: 20px 0;
}
