@import '../../sass/helper';

.product__list,
.loaderWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.loaderItem {
  flex-basis: 100%;

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.main__productPage {
}

.product__listInner {
}

.quantityPosition {
}

.pagination {
  margin: 20px 0;
}
