@import '../../sass/helper';

.loadMore {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: $--accent-color;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  transition: all 300ms ease;

  &:hover {
    background-color: $--hover-color;
  }
}
