@import '../../sass/helper';

.basketBackdrop,
.basketBackdropActive {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #00000076;
  transition: all 1s cubic-bezier(1, 0.97, 0, 0.02);
}

.basketBackdrop {
  top: -250%;
}

.basketBackdropActive {
  top: 0;
}

.basketBody,
.basketBodyActive {
  padding-top: 50px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  transition: all 400ms ease-in-out;
  transition-duration: 500ms;
}

.closeBasketBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 600ms ease-in-out;

  & > svg {
    fill: $--accent-color;
  }

  &:hover {
    transform: rotate(180deg);
  }
}

// .basketInner {
// }
