.main__page {
  height: calc(100vh - 200px);
  background-image: url('../../images/main-page/page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1980px;
}
