@import '../../sass/helper';

.header {
  width: 100%;
  height: 200px;
}

.header__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__top {
  background-color: $--accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.header__bottom {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.navLink {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }

  &:hover {
    text-decoration: underline;
  }
}

.burgerBtn,
.backdropNavMenu {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.backdropNavMenu,
.backdropNavMenuActive {
  position: fixed;
  top: 0;
  transition: all 600ms ease;
  z-index: 15;
}

.backdropNavMenu {
  left: -100%;
}

.backdropNavMenuActive {
  left: 0;
}

.headerNavMenu {
  display: flex;
  width: 230px;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  height: 100vh;
  padding: 45px 15px 15px 15px;
}

// .openMenuMobile {
// & > svg {
//   color: $--accent-color;
// }
// }
