.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.socialList {
  display: flex;
  gap: 8px;
}

.icon {
  background-color: indigo;
  border-radius: 16px;
}

.infoBlock {
  gap: 8px;
}

.CR {
  text-align: center;
  display: block;
}
